:root {
  --celeste: skyblue;
  --azulboton: #007bff;
  --primary: #051d3b;
  --dark-blue: #051d3b; 
  --white: #fafafa; 
  --yellow: yellow; 
} 

/* text colors  
--text-gray: 
--text-white: #fafafa; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-decoration: none; /* borra las lineas de subrayado del navbar */
  list-style-type: none;
} 

/* ********************************** */ 

/* header */ 

header {
  background: linear-gradient(to bottom, #007bff, var(--dark-blue));
  display: flex; /* alinea todo */
  justify-content: space-between; /* distibuye el espacio al rededor de los items*/
  align-items: center; /* alinea los elementos  */
  height: 70px; /* altura del header*/
  padding: 0px 30px 0px 0px; /* espacio o separacion, en este caso el lado del carrito */
  position: fixed; /* deja el navbar quieto en todo momento y tmb se achica y ocupa el tamaño del contenido, ponerle abajo width 100% */ 
  width: 100%;
  top: 0; /**/
  z-index: 2; /**/
} 

.logo {
  height: 100%; 
  cursor: pointer; 
}

.logo:hover {
  transform: scale(1.01);
} 

.navbar, .navbar-list {
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.navbar {
  gap: 150px; /* espacio entre navbar y carrito y checkbox */
} 

.navbar-list {
  gap: 20px; /* espacio entre navbarlist */
} 
.navbar-list a {
  color: var(--white); /* color de la letra */ 
  font-size: 15px; /* tamaño de la letra */
} 

/* .navbar-list li:first-child > a {
  color: var(--white);
  font-weight: 600;
} */ 

.navbar-list .active {
  color: var(--white);
  font-weight: 600;
}

.btn-signin, .btn-signup {/**/
  margin: 0px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: blue;
  color: var(--white);
  cursor: pointer; 
  border: 1px solid var(--white);
}

.btn-signin:hover {
  color: var(--yellow);
}

.btn-signup:hover { 
  color:var(--yellow);
 /* background-color: #007bff;*/ 
} 

/* MENU HAMBURGUESA Desktop */
/* AGREGADO para mediaqueries */
#menu-toggle,
#cart-toggle,
.menu-label {
  display: none;
}

/*carrito*/

.cart-icon { 
  font-weight: 300; /* espesor de donde se lo aplique*/
  border-radius: 5px; /* borde redondo*/
  height: 40px; 
  padding: 5px 10px; /* espacio arriba y abajo 1ero 5px, espacio izq y der 20px*/
  cursor: pointer; 
  /* background-color: var(--white); */ 
} 

.cart {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, var(--azulboton), var(--dark-blue));
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 70px);
  overflow-y: scroll; /* agrega el scroll */
  z-index: 2;
  display: none;
} 

.cart::-webkit-scrollbar { /*OCULTAR BARRA DE SCROLL DEL CARRITO*/
  display: none;
}

.cart h2 {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.cart-item img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.item-title {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

.item-price {
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 400;
}

.item-quantity {
  color: var(--azulboton);
}

.up {
  border: 1px solid var(--white);
}

.down {
  border: 1px solid var(--white);
}

.divider {
  margin-top: 20px;
  border: 1px solid var(--white);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* */
} 

.cart-total p {
  color: var(--white);
  font-weight: 700;
} 

.cart-total span {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

/*Toggle del carro*/
#cart-toggle:checked + .cart {
  display: flex;
}


/* ********************************** */ 
main {/*El main va a servir de contenedor principal de todas las secciones y ademas para darle un fondo
  a las secciones que van a estar limitadas a 1200px maximo y centrarlas en la página para resoluciones grandes.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  background: var(--dark-blue);
} 

/* ********************************** */ 

/* hero section */ 

#hero {/**/
  margin-top: 50px; /* distancia entre el header y la section hero */
  padding: 70px 0; /* padding arriba y abajo para que no se pegue tanto al borde */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.hero-info h1 {/**/
  font-size: 35px;
  width: 80%;
  min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
  font-weight: 800;
  color: var(--text-white);
  background: linear-gradient(to top, #30cfd0, #c43ad6); /* css auto prefix */
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.hero-info p {/**/
  font-size: 20px;
  width: 80%;
  color: var(--text-gray);
}

.hero-info a {/**/
  color: var(--text-white);
  background-color: var(--azulboton);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  /*border: 1px solid var(--white);*/
  box-shadow: 0 0 5px var(--azulboton);
  transition: 0.4s ease; 
}

.hero-info a:hover {
  box-shadow: 0 0 5px var(--azulboton),
              0 0 10px var(--azulboton);
  transform: scale(1.02);
  color: #007bff;
  background-color: #fafafa;
  font-weight: 500;
}

.hero-card {/**/
  width: 300px;
  background: var(--azulboton);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 0 5px var(--azulboton);
  transition: 0.4s ease; 
} 

.hero-card:hover {
  box-shadow: 0 0 10px var(--azulboton),
              0 0 20px var(--azulboton);
  transform: scale(1.02);
}

.hero-card img {
  border-radius: 20px;
} 

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hero-card-top h3 {
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-top span {
  background-color: var(--primary);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-card-creator img {
  height: 40px;
  width: 40px;
}

.creator-info p:first-child,
.hero-card-price p {
  color: var(--text-gray);
  font-size: 12px;
  font-weight: 300px;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
  font-size: 14px;
}

.hero-card-price span {
  font-weight: 700;
}

/* ********************************** */ 

/* discover section */ 

#discover {/**/
  padding: 70px 0; 
  max-width: 1200px;
  background: var(--dark-blue);
  /* height: 100%; */
} 

.discover-info {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 50px; 
} 

#discover h2 { 
  font-size: 32px;
  width: 40%;
  font-weight: 800;
} 

.discover-text {/**/
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
} 

.discover-text p {
  font-size: 20px;
  font-weight: 300;
  color: var(--text-white);
} 

.discover-text a {/**/
  color: var(--white);
  font-weight: 600;
  text-decoration: underline;
}

.discover-cards {/**/
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
} 

.discover-cards img {
  width: 30%;
  border-radius: 20px;
}

/* ********************************** */ 

#products {/**/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
  background-color: var(--dark-blue);
} 

#products h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px; 
  color: var(--white);
} 

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
} 

.categoria {/**/
  background: blue;
  border: none;
  padding: 10px 15px;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
} 

.activa {
  background: var(--azulboton);
} 

.products-container {/**/
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-bottom: 20px;
gap: 20px;
padding: 40px 0;
max-width: 1200px;
}

.product img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

.product {
  background: var(--azulboton);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  gap: 10px;
  box-shadow: 0 0 5px var(--azulboton);
  transition: 0.4s ease; 
} 

.product:hover {
  box-shadow: 0 0 10px var(--azulboton),
              0 0 20px var(--azulboton);
  transform: scale(1.02);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* abarca el 100% del contenedor */
  gap: 5px;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 70px; */
}

.product-top h3 {/**/
  color: var(--white); 
  font-size: 16px;
  margin-bottom: 5px;
} 

.product-top p {
  font-size: 16px;
  font-weight: 800; 
  margin-bottom: 10px;
}

.product-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-add {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: blue;
  color: var(--white); 
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0 0 5px blue;
  transition: 0.4s ease;
} 

.btn-add:hover {
  box-shadow: 0 0 5px blue,
              0 0 10px blue;
  transform: scale(1.02);
  color: #007bff;
  background-color: #fafafa;
}

.btn-load {
  background: #007bff;
  padding: 10px 35px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px var(--azulboton);
  transition: 0.4s ease;
}

.btn-load:hover {
  box-shadow: 0 0 5px var(--azulboton),
              0 0 10px var(--azulboton);
  transform: scale(1.02);
  color: #007bff;
  background-color: #fafafa;
}

/* ********************************** */  

/* Contact section */ 
/* .container { 
  max-width: 1200px;
} */ 

#Contact {/**/
    background: var(--dark-blue);
    padding: 40px; 
    max-width: 1200px;
} 

.section_title {
  font-size: 35px; 
  font-weight: 200; 
  text-transform: uppercase; 
  text-align: center; 
  margin-bottom: 30px; 
  font-weight: 700;
} 

.whiteTitle {
  color: var(--white);
}

.contact__formCtnr {
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 50px;
} 

.contact__formCtnr-form {
    display: flex;
}

.contact__formCtnr-form .form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.contact__formCtnr-form .form__item label {
    font-size: 20px;
    color: var(--white);
    font-weight: 200;
    text-align: center;
    margin: 0 0 15px 0;
}

.contact__formCtnr-form .form__item input {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
} 

.contact__formCtnr-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.contact__formCtnr-form form button {
    width: 40%;
    align-self: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--azulboton);
    margin-top: 10px;
    cursor: pointer;
    color: var(--white);
    box-shadow: 0 0 5px var(--azulboton);
    transition: 0.4s ease;
} 

.contact__formCtnr-form form button:hover {
    box-shadow: 0 0 5px var(--azulboton),
                0 0 10px var(--azulboton);
    transform: scale(1.02);
    color: #007bff;
    background-color: #fafafa;
}


/* ********************************** */ 

footer {/**/
    background: linear-gradient(to top, #007bff, var(--dark-blue));
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
  
  footer a,
  footer p {
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
  }
  
  footer span {
    font-weight: 800;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  } 

  /* .social-icons { 
    display: flex;
    justify-content: center;
    gap: 50px;
  } */

  /* .social-icons {
    text-align: center;
  } */

  .social-icons a {
    font-size: 23px;
    /* font-size: 20px;*/
    color: var(--white);
    border: 2px solid var(--azulboton);
    width: 35px;
    height: 35px;
    /*width: 30px;
    height: 30px; */
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    /* border-radius: 10px; */
    margin: 0 10px;
    transition: 0.3s ease;
    padding: 2px;
  }

  .social-icons a:hover {
    transform: scale(1.1)translateY(-5px);
    color: var(--azulboton);
    border: 2px solid var(--azulboton);
    background: var(--white);
  }
  